

/* Default: Hide on larger screens */
.header-logo-mobile {
  display: none;
  height: 0;
  width: 0;
  overflow: hidden;
}

/* Mobile and Tablet only (up to 1024px) */
@media screen and (max-width: 1024px) {
  .header-logo-mobile {
    display: block;
    position: absolute;
    top: 4%;
    left: 4%;
    height: auto;
    width: auto;
    z-index: 999; /* optional: keeps it above other content */
  }

  .header-logo-mobile img {
    width: auto;
    height: 50px;
    max-height: 50px;
    margin-top: 0.7vh;
    padding: 0.5px;
    
  }
}






